*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    color: aliceblue;
    background-color: rgb(68, 68, 68);
}
body {
    padding: 0;
    margin: 0;
    text-align: center; 
    
}

h1 {
    font-size: 15px;
    text-align: left ;
    font-size: 18px;
    padding-left: 30px;
}

.hide {
    display: none;
}

#start {
    align-content: center;
}
.btn {
    padding: 13px;
    background-color: rgb(202, 232, 127);
    border: rgb(202, 232, 127); ;
    border-radius: 11px;
    color: black;
    margin-top: 20px;

   
}
#highscore {
    display: none;
}

.btn:hover {
    background-color: rgb(172, 200, 103);
    border:rgb(209, 209, 250);
}

#questions-container {
    display: none;
}

#question {
    font-weight: bolder;
    padding: 30px;
    font-size: 20px;

}
#current-question {
    text-align: center;
}
#highscoresList {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 10px;
}

.high-score {
    font-size: 20px;
}


.high-score:hover {
    transform: scale(1.025);
}
